<p>-What is the Gordon Growth Model?</p>

<p>The general idea	is the value of a company that constantly pays out dividends at a constang rate has a value that can be calculated from these ongoing payments. The model solves for the present value of the infinite series of future dividends.</p>
Value = Dividend[0] * (1 + Growth) / (Rate of Return - Growth)
<p>Using any three of these inputs you can figure out the fourth. Fill in the values you have below and the fourth value will be returned to you.</p>

<%= form_tag(ggm_calc_path, :method => :post, remote: true) do |f| %>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= text_field_tag :value, nil, class:'form-control' %>
			</div>
			<div class="col-md-9">
				Value
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<%= text_field_tag :dividend, nil, class:'form-control' %>
			</div>
			<div class="col-md-9">
				Dividend - Yearly amount starting in the next year.
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<%= text_field_tag :rate, nil, class:'form-control' %>
			</div>
			<div class="col-md-9">
				Rate of Return - 0.05 format.
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<%= text_field_tag :growth, nil, class:'form-control' %>
			</div>
			<div class="col-md-9">
				Growth - 0.02 format
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-3">
				<%= submit_tag "Submit", class:"btn btn-secondary" %>
			</div>
		</div>
	</div>
<% end %>

<p>For this equation to work it is assumed that growth cannot exceed the required rate of return. If growth is expected to exceed the required rate of return, a two state dividend discount model is preferable.</p>
