<%= render partial: 'partials' %>
<%= form_tag(options_price_path, :method => :post, remote: true) do |f| %>
<div class="container">
	<div class="row">
		<div class="col-md-12">Option Pricing Tool:</div>
	</div>

	<div class="row">
		<div class="col-md-12">Most are priced using the Black Scholes model which utilizes a combination of Stock Price, Exercise(strike) Price, Risk Free Inerest Rate, and Volatility.</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			Stock Price (ex. 30)
		</div>
		<div class="col-md-2">
			<%= text_field_tag :price,nil, class:'form-control' %>
		</div>
		<div class="col-md-8">
			The stock price is the current trading price for a single unit of stock. A stock represents partial ownership of a company.
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			Strike Price (ex. 25)
		</div>
		<div class="col-md-2">
			<%= text_field_tag :strike, nil, class:'form-control' %>
		</div>
		<div class="col-md-8">
			The strke price is the exercise price of the financial option. This is the effective price the option will be traded at when exercised. For example, if you exercise a call option with a strike price of $14.00, and the price is currently $16.00, you will be buying a stock for a reduced price, which presumably you would be able to sell at immediately for a $2.00 profit.
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			Time to Matrurity (ex. 1.25)
		</div>
		<div class="col-md-2">
			<%= text_field_tag :time, nil, class:'form-control' %>
		</div>
		<div class="col-md-8">
			Time to maturity is the effective time from the purchase of an option to the time an option will expire. In this calculator, this time is measured in whole years.
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			Risk Free Rate (ex. 0.05)
		</div>
		<div class="col-md-2">
			<%= text_field_tag :rf, nil, class:'form-control' %>
		</div>
		<div class="col-md-8">
			The risk free rate is the rate of return an investor can expect at near zero risk. The US Treasury bills are most often used as a model as US Treasuries are considered the least risky form of debt in the market.
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			Volatility (ex. 0.2)
		</div>
		<div class="col-md-2">
			<%= text_field_tag :vol, nil, class:'form-control' %>
		</div>
		<div class="col-md-8">
			Volatility in this sense is a measurement of a stock's movement around a central mean over time. The greater the movement around the mean, the greater the volatility. A greater volatility will result in more dynamic prices. A put and call options are hedges around movement of a stock. The greater the chance of movement into an 'in the money' price level, the more certain the option will be exercised. To compensate for this, higher volatilities result in greater prices.
		</div>
	</div>
</div>

<%= submit_tag "Create", class:"btn btn-secondary" %>
<% end %>
<div id="results"></div>
