Create a new Report:

<div class='form'>
	<%= form_for @project, url: {action: 'create'} do |f| %>
	Report Name: <%= f.text_field :name %>
	Description: <%= f.text_field :description %><br><br>
			<%= f.file_field :file %><%= submit_tag "Create New Report" %>
	<% end %>	
</div>