<script>
	var revObj = {};
	for(var i = 0; i < <%= @revenue.to_json.html_safe %>.length; i++){
	revObj[<%= @revenue.to_json.html_safe %>[i].name] = [<%= @revenue.to_json.html_safe %>[i].amount[0]]
	}

	var incomeObj = <%= @project.income_stmts.to_json.html_safe %>[0];
	var balObj = <%= @project.balance_sheets.to_json.html_safe %>[0];
	var cashObj = <%= @project.cashflows.to_json.html_safe %>[0];
	var assumption = <%= @assumption.to_json.html_safe %>;
</script>

<span style="font-weight:strong;font-size:1.5em;"><%= @project.name %></span>
<a class='proj' id='proforma'>Create ProForma</a>
<a class='proj' id='commonsize' >Common Size</a>
<br>
<br>
<a class='proj' href="#" data-link="ratio" id='ratiolink'>Ratios</a>
<a class='proj' href="#" data-link="revenue">Revenues</a>
<a class='proj' href="#" data-link="income">Income Statement</a>
<a class='proj' href="#" data-link="balance">Balance Sheet</a>
<a class='proj' href="#" data-link="cashflow">Cash Flow</a>


<br>
<br>
<div class='bar'>Financial Ratios</div>
<div class="clearfix" id='ratio'>
	<table class="ratios">
		<% @project.ratios.each do |ratio| %>
			<tr class="<%= ratio.name.gsub(' ','_') %>">
				<td><%= ratio.name %></td>
				<td><%= ratio.ratio %></td>
				<td><%= ratio.description %></td>
			</tr>
		<% end %>
	</table>
</div>

<br>
<div class='bar'>Revenue Sources</div>
<div class="clearfix" id='revenue'>
<table class="statement">
	<% @revenue.each do |income| %>
		<tr class="<%= income.name %>">
			<% income.amount.each_index do |figure| %>
			<% csdata = ((income.amount[figure]/@project.income_stmts.first.total_revenue[figure]*10000).to_i.to_f/100).to_s + '%' %>
				<td class="column" data-original="<%= number_to_currency(income.amount[figure]) %>" data-cs="<%= csdata %>"><%= number_to_currency(income.amount[figure]) %></td>
			<% end %>
			<td class="title"><%= income.name.capitalize %></td>
		</tr>
	<% end %>
</table>
</div>
<br>
<div class='bar'>Income Statement</div>
<div class="clearfix" id='income'>
<table class="statement">
	<% @project.income_stmts.each do |income| %>
		<% @incomestmt.each do |item| %>
		<% counter = 0 %>
		<tr class="<%= item %>">
			<% (income.send(item)).each do |figure| %>
				<% csdata = ((figure / income.send('total_revenue')[counter]*10000).to_i.to_f/100).to_s + '%' %>
				<td class="column" data-original="<%= number_to_currency(figure) %>" data-cs="<%= csdata %>"><%= number_to_currency(figure) %></td>
					<% counter += 1 %>
			<% end %>
			<td class="title"><%= item.split('_').map!{|x| x.capitalize}.join(' ') %></td>
		</tr>
		<% end %>
	<% end %>
</table>
</div>
<br>
<div class='bar'>Balance Sheet</div>
<div class="clearfix" id='balance'>
<table class="statement">
	<% @project.balance_sheets.each do |balance_sheet| %>
		<% @balancesheet.each do |item| %>
		<% counter = 0 %>
		<tr class="<%= item %>">
			<% (balance_sheet.send(item)).each do |figure| %>
				<% csdata = ((10000*figure / (balance_sheet.send('total_assets')[counter])).to_i.to_f/100).to_s + '%' %>
				<td class="column" data-cs="<%= csdata %>" data-original="<%= number_to_currency(figure) %>"><%= number_to_currency(figure) %></td>
				<% counter += 1 %>
			<% end %>
			<td class="title"><%= item.split('_').map!{|x| x.capitalize}.join(' ') %></td>
		</tr>
		<% end %>
	<% end %>
</table>
</div>
<br>
<div class='bar'>Cash Flow Statement</div>
<div class="clearfix" id='cashflow'>
<table class="statement">
	<% @project.cashflows.each do |cashflowstmt| %>
		<% @cashflowstmt.each do |item| %>
		<tr class="<%= item %>">
		<% counter = 0 %>
			<% (cashflowstmt.send(item)).each do |figure| %>
				<% csdata = ((10000*figure / cashflowstmt.send('cash_and_cash_equivalents_end')[counter]).to_i.to_f/100).to_s+ '%' %>
				<td class="column" data-original="<%= number_to_currency(figure) %>" data-cs="<%= csdata %>"><%= number_to_currency(figure) %></td>
				<% counter += 1 %>
			<% end %>
			<td class="title"><%= item.split('_').map!{|x| x.capitalize}.join(' ') %></td>
		</tr>
		<% end %>
	<% end %>
</table>
</div>

<div class='bar' style="display:none;">Company Assumptions</div>
<div class="clearfix" id='assumption' style="display:none;">
<table class="statement" style="display:none;">
	<tr class="company_name">
		<td><%= @assumption.company_name %></td><td>Company Name</td>
	</tr><tr class="tax_rate">
		<td><%= @assumption.tax_rate %></td><td>Tax Rate</td>
	</tr><tr class="interest_rate">
		<td><%= @assumption.interest_rate %></td><td>Interest Rate</td>
	</tr><tr class="tax_rate">
		<td><%= @assumption.tax_rate %></td><td>Tax Rate</td>
	</tr><tr class="shareholders">
		<td><%= @assumption.shareholders %></td><td>Share Holders</td>
	</tr><tr class="price">
		<td><%= @assumption.price %></td><td>Price</td>
	</tr>
</table>
</div>
