<!DOCTYPE html>
<html>
  <head>
    <title>Botreport</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class='navbar navbar-fixed-top navbar-dark bg-inverse'>
      <%= link_to 'Bot Report', root_path, class:'navbar-brand' %>
      <div class="pull-xs-right">
        <ul class="nav navbar-nav">
          <li class="nav-item active"><%= link_to 'Euro Opts', options_path, class:'nav-link' %></li>
          <li class="nav-item active"><%= link_to 'Amer Opts', american_options_path, class:'nav-link' %></li>
          <li class="nav-item active"><%= link_to 'GGM', ggm_path, class:'nav-link' %></li>

        	<% if current_user %>
            <li class="nav-item active"><%= link_to 'Your Page', user_path(current_user.id), class:'nav-link' %></li>
          	<li class="nav-item active"><%= link_to 'New Report', new_user_project_path(current_user.id), class:'nav-link' %></li>
          	<li class="nav-item active"><%= link_to 'News', user_projects_path(current_user.id), class:'nav-link' %></li>
            <li class="nav-item active"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class:'nav-link' %></li>
          <% else %>
            <li class="nav-item active"><%= link_to 'Sign In', new_user_session_path, class:'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div id='primary-content' class="container ">
  		<%= yield %>
    </div>

    <script src="/assets/transitions.js" type="text/javascript"></script>
  </body>
</html>
