<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Botreport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar'> 
	<% if current_user %>
	<%= link_to 'Home', root_path %> | 
	<%= link_to 'Your Page', user_path(current_user.id) %> | 
	<%= link_to 'New Report', new_user_project_path(current_user.id) %> | 
	<%= link_to 'News Flash', new_user_project_path(current_user.id) %>
	<% end %>

	<div class="login">
		<% if current_user %>
		  Welcome back to the BotReport. You are signed in as <%= current_user.email %>. If this is not you please <span style="color:red"><%= link_to 'sign out.', destroy_user_session_path, :method => :delete %></span>
		<% else %>
		  Welcome to the BotReport. You currently are not  <span style="color:red"><%= link_to 'signed in', new_user_session_path %></span>. 
		<% end %>
	</div>
</div>



<div class="header clearfix">
	<div class="title">
		<span class="logo">BotReport</span><br>
		<span class='tag'>One Step Closer to the Robot Apocalypse</span><br>
	</div>

</div>




<div class="content">
	<%= yield %>
</div>


</body>
</html>
